<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <!--<basicHttpBinding--> 
    </bindings>
    <services>
      <service name="WcfSystemServices.SystemProcessesService" behaviorConfiguration="mexBehaviour">
        <endpoint address="SystemProcessesService" binding="basicHttpBinding" contract="WcfSystemServices.ISystemProcessesService"></endpoint>
        <endpoint address="SystemProcessesService" binding="netTcpBinding" contract="WcfSystemServices.ISystemProcessesService">
          <identity>
            <dns value="localhost" />
          </identity>
       </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange">
          <host>
            <baseAddresses>
              <add baseAddress="net.tcp://localhost:53228/SystemProcessesService.svc" />
            </baseAddresses>
          </host>

        </endpoint>
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
